# Environment configuration for Adaptive Predictive Maintenance

# MLflow config
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=adaptive_pdm

# Application Ports
API_PORT=8000
API_HOST=0.0.0.0

# General settings
ENVIRONMENT=development
GLOBAL_SEED=42
LOG_LEVEL=INFO
